*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    background-color:white;
}

/* ....................top header ........................ */
.top-header{
    height: 60%;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#logo h1{
    color: green;
}
#logo h5{
    color: green;
}
.search-box{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 60px;
    border: 2px solid black;
}
.search-box input{
    height: 60px;
    border-radius: 5px;
    width: 500px;
    padding-left: 20px;
    border: none;
}
.search-box button{
    height: 55px;
    width: 150px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: rgb(13, 103, 13);
    color: aliceblue;
    font-size: 20px;
    border: none;

}
.icons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 150px;
}
.icons i{
    font-size: 30px;
}

/* .......................bottom................. */
.bottom-header{
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-header{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.Category{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 250px;
    background-color: rgba(205, 197, 197, 0.751);
}
.Category p{
    font-size: 25px;
}
.Category p i{
    font-size: 25px;
    margin-right: 10px;
}
.links{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 500px;
}
.links a{
    font-size: 20px;
    text-decoration: none;
}
.Contact-header{
    display: flex;
    flex-direction: row;
}
.Contact-header p{
    font-size: 20px;
    margin: 10px;
}
/* .....................baar........................... */

.header-baar{
    display: none;
    font-size: 30px;
    margin-left: 40px;
}
.header-baar{
    font-size: 20px;
}
/* ..............................botton input.................. */

.bottom-header input{
    display: none;
}

/* ...............................baar list................................ */
.baar-list{
    display: none;
    align-items:left;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 40vw;
    background-color:whitesmoke;
}
.baar-list ul li{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.327);
    list-style: none;
}
.baar-list ul li h1{
    padding: 30px;
    color: rgba(0, 0, 0, 0.827);
}
.baar-list ul li i{
    position: absolute;
    top: 0px;
    left: 40vw;
    background-color: rgb(23, 163, 28);
    padding:10px;
    font-size: 30px;
}
.baar-list ul li a{
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.563);
}
.need-help{
    height: 300px;
    display: flex;
    flex-direction: column;
}
.need-help a{
    text-decoration:underline;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.563);
}
/* ...........................responsiv.................... */

@media (max-width:1550px) {
   .right-header{
    display: none;
   }
   .Contact-header{
    display: none;
   }
   .search-box{
    display: none;
   }
   .icons{
    margin-right: 40px;
   }
   .top-header{
    width: 100%;
    height: 40%;
   }
   .header-baar{
    display: flex;
   }
   .bottom-header{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
   }
   .bottom-header input{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    height: 50px;
    width: 80%;
    margin-left: 40px;
    padding-left: 20px;
    font-size: 15px;
   }
}
@media (max-width:600px) {
    .icons i{
        font-size: 20px;
    }
    .icons{
        width: 100px;
    }
    #logo h1{
       font-size: 20px;
    }
    .baar-list{
        width: 80vw;
    }
    .baar-list ul li i{
        left: 80vw;
    }
    /* ..............baar-list.................. */
    .baar-list ul li a{
        font-size: 20px;
    }
    .need-help a{
        font-size: 20px;
    }

}
@media (max-width:1000px) {
    .baar-list{
        width: 60vw;
    }
    .baar-list ul li i{
        left: 60vw;
    }
}
@media (max-width:500px) {
    .baar-list{
        width: 90vw;
    }
    .baar-list ul li i{
        left: 90vw;
    }

}